@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply inline-block bg-blue-600 text-white font-bold py-2 px-4 rounded;
  }
  .btn-primary:hover {
    @apply bg-blue-500;
  }
  .btn-primary:focus {
    @apply bg-blue-800;
  }
  .btn-secondary {
    @apply inline-block bg-green-800 text-white font-bold py-2 px-4 rounded;
  }
  .btn-secondary:hover {
    @apply bg-green-500;
  }
  .btn-secondary:focus {
    @apply bg-green-900 border border-teal-900 border-2;
  }

  .input-btn {
    @apply inline-block font-bold mx-8 py-2 px-4 rounded-3xl cursor-pointer;
  }

  .input-btn-light:hover {
    @apply drop-shadow-lg;
  }
  .input-btn-light:checked {
    @apply bg-slate-300;
  }
  .input-btn-light {
    @apply bg-slate-100;
  }
  .input-btn-dark {
    @apply bg-slate-800 text-white;
  }
  .input-btn-dark:hover,
  .input-btn-dark:hover:checked {
    @apply bg-black;
  }

  .navbar {
    @apply flex justify-between  py-4 px-2 rounded-lg;
  }
  .navbar-light {
    @apply bg-blue-100;
  }
  .navbar-dark {
    @apply bg-slate-800;
  }
  .logo {
    @apply italic font-bold block p-1;
  }

  .logo-light {
    @apply text-blue-900;
  }
  .logo-dark {
    @apply text-blue-200;
  }
  .navList-btn {
    @apply block p-1 mx-1 rounded;
  }
  .navList-btn-light {
    @apply block p-1 mx-1 rounded text-white;
  }

  .navList-btn:hover {
    @apply bg-blue-200;
  }
  .navList-btn-light:hover {
    @apply bg-slate-700;
  }

  .personal-btn {
    @apply mx-1 p-1 block;
  }
  .personal-btn-light {
    @apply text-white;
  }
  .personal-btn:hover {
    @apply text-gray-100;
  }
  .personal-btn-light:hover {
    @apply text-gray-600;
  }
  .personal-btn-dark {
    @apply text-blue-200;
  }
  .personal-btn-dark:hover {
    @apply text-white;
  }

  .avatar {
    @apply overflow-hidden;
  }

  .card {
    @apply h-72 bg-white rounded;
  }

  .card-img {
    @apply h-60 overflow-hidden;
  }
}
